# Dependencies
node_modules/

# Build output
dist/
build/
*.local

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

# Misc
*.tgz
.cache/
